/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0em 10em 1em 10em;
  justify-content: center;
}

.header {
  padding: 9em 0 5em 0;
  text-align: center;
}

.links {
  width: 100%;
}

.buttonWithMargin {
  margin: 0 0.5em;
}
